<form action="" method="post">
    <P>Nome</P>
    <input type="text" name="name">
    <P>Email</P>
    <input type="text" name="email">
    <P>Senha</P>
    <input type="password" name="password">
    <br>
    <br>
    <button type="submit">Enviar</button>
</form>